<launch>
    <include file="$(find skiros2)/launch/skiros.launch">
        <arg name="robot_ontology_prefix" value="paintbot" />
        <arg name="robot_name" value="paintbot" />
        <arg name="workspace_dir" value="$(find paintbot_skiros)/owl" />
        <arg name="init_scene" value="room_paint_scene_1.turtle" />
        <arg name="libraries_list" value="[navigation, painting]" />
        <arg name="primitive_list" value="[ApplyPaintPrimitive, ArmToZeroPrimitive, LoadPaintPrimitive, NavigateToWallPrimitive]" />
        <arg name="skill_list" value="[ApplyPaint, LoadPaint]" />
    </include>
</launch>
