<launch>
    <arg name="paused" default="false" />
    <arg name="run_rviz" default="true" />
    <arg name="rvizconfig" default="$(find paintbot_description)/config/paintbot.rviz" />

    <env name="ROSCONSOLE_FORMAT"
        value="${time} [${severity}] [${node}]: ${message}" />

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find paintbot_gazebo)/worlds/paintbot.world" />
        <arg name="use_sim_time" value="true" />
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- Load robot information -->
    <param name="robot_description" textfile="$(find paintbot_description)/urdf/paintbot.urdf"/>
    <!-- <rosparam file="$(find paintbot_description)/config/controllers.yaml" command="load" /> -->

    <!-- Spawn differential drive controller -->
    <!-- <rosparam command="load" file="$(find paintbot_description)/config/diff_drive.yaml" />
    <node name="diff_drive_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="diff_drive" /> -->

    <!-- Spawn state publishers -->
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher" />
    <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>

    <!-- TODO: Can only move_group.launch be included? -->
    <!-- Load MoveIt! -->
    <include file="$(find paintbot_moveit)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false" />
    </include>
    <include file="$(find paintbot_moveit)/launch/ros_controllers.launch" />
    <include file="$(find paintbot_moveit)/launch/move_group.launch">
        <arg name="info" value="true"/>
    </include>

    <!-- Spawn robot -->
    <node name="spawn_paintbot_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model paintbot -x 0 -y 0 -z 0.09"
        respawn="false"
        output="screen" />

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" if="$(arg run_rviz)" />

    <!-- Load navigation stack -->
    <include file="$(find paintbot_navigation)/launch/navigation.launch" />

    <!-- Spawn control nodes -->
    <!-- <node name="planning"
        pkg="paintbot_description"
        type="planning"
        output="screen" /> -->
    <!-- <node name="navigation"
        pkg="paintbot_description"
        type="navigation"
        output="screen" /> -->
    <!-- <node name="painting"
        pkg="paintbot_description"
        type="painting"
        output="screen" /> -->
</launch>
