<launch>
    <arg name="paused" default="false" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find paintbot_gazebo)/worlds/paintbot.world"/>
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- Spawn robot -->
    <param name="/paintbot/robot_description" textfile="$(find paintbot_description)/urdf/paintbot.urdf" />
    <node name="paintbot_spawner"
        pkg="gazebo_ros"
        type="spawn_model"
        output="screen"
        ns="/paintbot"
        args="-urdf -param robot_description -model paintbot -z 0.09" />

    <!-- Spawn controllers -->
    <rosparam command="load"
        file="$(find paintbot_description)/config/control.yaml" />
    <node name="paintbot_controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="/paintbot"
        args="joint_state_controller arm_controller diff_drive_controller" />

    <!-- Spawn state publisher -->
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="state_publisher"
        ns="/paintbot" />

    <!-- Spawn control nodes -->
    <node name="planning"
        pkg="paintbot_description"
        type="planning"
        output="screen" />
    <node name="navigation"
        pkg="paintbot_description"
        type="navigation"
        output="screen" />
    <node name="painting"
        pkg="paintbot_description"
        type="painting"
        output="screen" />
</launch>
