<launch>
    <arg name="paused" default="false" />
    <arg name="run_rviz" default="true" />
    <arg name="rvizconfig" default="$(find paintbot_description)/config/paintbot.rviz" />

    <env name="ROSCONSOLE_FORMAT"
        value="${time} [${severity}] [${node}]: ${message}" />

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find paintbot_gazebo)/worlds/paintbot.world" />
        <arg name="use_sim_time" value="true" />
        <arg name="paused" value="$(arg paused)" />
    </include>

    <!-- Load robot information -->
    <param name="robot_description" textfile="$(find paintbot_description)/urdf/paintbot.urdf"/>

    <!-- Spawn state publishers -->
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher" />
    <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>

    <!-- TODO: Can only move_group.launch be included? -->
    <!-- Load MoveIt! -->
    <include file="$(find paintbot_moveit)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false" />
    </include>
    <include file="$(find paintbot_moveit)/launch/ros_controllers.launch" />
    <include file="$(find paintbot_moveit)/launch/move_group.launch">
        <arg name="info" value="true"/>
    </include>

    <!-- Spawn robot -->
    <node name="spawn_paintbot_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model paintbot -x 0 -y 0 -z 0.09"
        respawn="false"
        output="screen" />

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" if="$(arg run_rviz)" />

    <!-- Load navigation stack -->
    <include file="$(find paintbot_navigation)/launch/navigation.launch" />

    <!-- Load SkiROS -->
    <include file="$(find skiros2)/launch/skiros.launch">
        <arg name="robot_ontology_prefix" value="paintbot" />
        <arg name="robot_name" value="paintbot" />
        <arg name="workspace_dir" value="$(find paintbot_skiros)/owl" />
        <!-- <arg name="init_scene" value="my_scene.turtle" /> -->
        <arg name="libraries_list" value="[painting]" />
        <arg name="primitive_list" value="[ArmToZeroPrimitive, LoadPaintPrimitive]" />
        <arg name="skill_list" value="[LoadPaintSkill]" />
    </include>

    <!-- Spawn control node -->
    <!-- <node name="paintbot"
        pkg="paintbot_description"
        type="paintbot"
        output="screen" /> -->
</launch>
